@font-face {
	font-family: 'icon';
	/* project id 1463421 */
	src: url('https://at.alicdn.com/t/font_1463421_m7w1bmwitxq.eot');
	src: url('https://at.alicdn.com/t/font_1463421_m7w1bmwitxq.eot?#iefix') format('embedded-opentype'),
		url('https://at.alicdn.com/t/font_1463421_m7w1bmwitxq.woff2') format('woff2'),
		url('https://at.alicdn.com/t/font_1463421_m7w1bmwitxq.woff') format('woff'),
		url('https://at.alicdn.com/t/font_1463421_m7w1bmwitxq.ttf') format('truetype'),
		url('https://at.alicdn.com/t/font_1463421_m7w1bmwitxq.svg#iconfont') format('svg');
}

[class*="icon-"] {
	font-family: "icon";
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 10upx;
}

.icon-weixin:before {
	content: "\e7e5";
}

.icon-liaotian:before {
	content: "\e634";
}

.icon-lianxi1:before {
	content: "\e61a";
}

.icon-dingwei:before {
	content: "\e617";
}

.icon-xuanzhong:before {
	content: "\e600";
}

.icon-yiyuan:before {
	content: "\e618";
}

.icon-tixing:before {
	content: "\e64b";
}

.icon-gengduo:before {
	content: "\e60f";
}

.icon-gouwu:before {
	content: "\e693";
}

.icon-canyin:before {
	content: "\e940";
}

.icon-gongjiao:before {
	content: "\e601";
}

.icon-guanzhu:before {
	content: "\e628";
}

.icon-kaipan:before {
	content: "\e777";
}

.icon-xuexiao1:before {
	content: "\e602";
}

.icon-sousuo:before {
	content: "\e606";
}

.icon-bianjiatongzhiwo:before {
	content: "\ecfc";
}

.icon-xiala:before {
	content: "\e64a";
}

.icon-shangxia:before {
	content: "\e64f";
}

.icon-huabanfuben:before {
	content: "\e65f";
}

.icon-huabanfuben1:before {
	content: "\e660";
}

.icon-huabanfuben2:before {
	content: "\e661";
}

.icon-huabanfuben3:before {
	content: "\e662";
}

.icon-huabanfuben4:before {
	content: "\e663";
}

.icon-huabanfuben5:before {
	content: "\e664";
}

.icon-huabanfuben6:before {
	content: "\e665";
}

.icon-huabanfuben7:before {
	content: "\e666";
}

.icon-huabanfuben8:before {
	content: "\e667";
}

.icon-huabanfuben9:before {
	content: "\e668";
}

.icon-huabanfuben10:before {
	content: "\e669";
}

.icon-huabanfuben11:before {
	content: "\e66a";
}

.icon-huabanfuben12:before {
	content: "\e66b";
}

.icon-huabanfuben13:before {
	content: "\e66c";
}

.icon-huabanfuben14:before {
	content: "\e66d";
}

.icon-huabanfuben15:before {
	content: "\e66e";
}

.icon-huabanfuben16:before {
	content: "\e66f";
}

.icon-huabanfuben17:before {
	content: "\e670";
}

.icon-huabanfuben18:before {
	content: "\e671";
}

.icon-huabanfuben19:before {
	content: "\e672";
}

.icon-huabanfuben20:before {
	content: "\e673";
}

.icon-huabanfuben21:before {
	content: "\e674";
}

.icon-huaban:before {
	content: "\e675";
}

.icon-huabanfuben22:before {
	content: "\e676";
}

.icon-huabanfuben23:before {
	content: "\e677";
}
